[2017-03-13 13:49] Selid opened #1 "Access to NativeImage"
Hi !
I was struggling to make electron and angular2 work together and i'm glad i found your service to help me. Unfortunately, I miss one Electron API : the native image one. could you provide an access to it ?

Thanks for your work !

[2017-03-14 09:41] ThorstenHans commented on #1
Hey @Selid,

thanks for reporting this. I'll look into this this evening!

👍

[2017-03-15 08:28] #1 closed

[2017-03-17 07:56] Selid commented on #1
Thanks for your work :-) Could you post your npm package ?

[2017-03-17 08:36] ThorstenHans commented on #1
sorry @Selid -> done 👍

[2017-03-24 06:55] abhargav7 opened #2 "ipcRenderer.on issue"
I have successfully integrated this package and able to listen to click on menu items in angular2 components. But the issue is I cannot bind the functions properly inside it suppose I try to update some text inside the text box or change the bool value it does not work, however when I do a console.log("function is hit") it appears in electron devtoogle window, but values are not assigned.

this._n

[2017-03-24 09:57] ThorstenHans commented on #2
instead of using

[code]

I would do

[code]

[2017-03-24 10:06] ThorstenHans opened #3 "Integration with ngZone for callbacks from the main process"
if calling into the `main` process from angular using electron's API, callbacks will run outside of angular.

Developers can ensure proper angular integration using `NgZone` but it might be tricky.

Enhance the `ElectronServiceRef` to provide a property (perhaps just a boolean) which could be toggled by the consumer.

If toggled, all the callbacks should be invoked inside of `ngZone.run`

 -> this

[2017-03-24 10:39] abhargav7 commented on #2
Thanks for  a quick help. I tried your suggestion still facing the issue, however i also remove this._ngZone.run(()=> from all the places I still not able to execute the calls in angular, however console prints just fine.

[2017-03-24 10:42] ThorstenHans commented on #2
console.log will work fine, because it's not related to angular at all.

if you call it like

[code]
it should work.

But if you want to update bound data in angular templates, you've to ensure `ngZone` is used to tell angular that the execution from outside angular has finished. in this case, setting the bound value on your component class has to be inside of ngZone...

[2017-03-24 10:49] abhargav7 commented on #2
Hmm OK, do you have some sample code to help me understand this logic better?

[2017-03-24 10:52] ThorstenHans commented on #2
during the weekendm I'll create a short example using node.js `fs` module. looks like you're trying to read a file from the harddisk and show something depending on the file existance or it's content, right

[2017-03-24 10:54] abhargav7 commented on #2
no actually I am trying to  do a bool visibility of some control hide/unhide in angular component  from electron menubar

[2017-03-24 10:58] ThorstenHans commented on #2
ahh i see,  so you are using  `browserWindow.webContents.send` from the main proc and want the angular app to "react" 🤣  (let the angular app react :D) - sorry it's friday - on the message

[2017-03-24 11:01] abhargav7 commented on #2
:+1:  correct :dagger:

[2017-03-25 10:17] ThorstenHans commented on #2
@abhargav7 I've updated the example at https://github.com/ThorstenHans/electron-ngx-sample there is a button in the menu which toggles the `notify` button on the `kittendetails` component.

HTH 🤘

[2017-03-25 10:38] ThorstenHans opened #5 "Refactor ElectronService.runningInElectron"
Had selected a bad naming for this one. It's also not that intuitive to have it only as static property on `ElectronService`.

Refactor it to

`ElectronService.isElectronApp` and add an additional instance property.

Developers should be able to access it also on an existing instance of `ElectronService`, that may be a bit more self-explaining.

[code]

[2017-04-07 12:41] ThorstenHans commented on #2
closing this one. @abhargav7 If you've further question feel free to open another issue

[2017-04-07 12:41] #2 closed

[2017-05-30 06:31] #5 closed

[2017-06-13 20:51] hlfshell opened #6 "Issues with @types/electron@1.6.0 (installed via installing ngx-electron) throws error on build"
Using ngx-electron installed via npm install ngx-electron

(assuming @latest)

[code]

ngx-electron at the time of this issue is installing the electron types @types/electron@1.6.0.

I manually removed @1.6.0 and downgraded to @1.4.38 and builds will complete now - things seem to work.

I am using Windows 10 w/ node 6.10.2.

[2017-06-16 05:04] smac89 commented on #6
Note you don't need to include `@types/electron` if you are already using `electron` as it provides it's own type definitions

[2017-06-16 14:19] hlfshell commented on #6
OK, I realized what was wrong.

I have electron installed globally, hence needing the @types/electron install. However, that installs the latest types, which is not compatible with my older, globally installed electron.

Anyone reading this issue in the future-  update your electron, or check compatibility between your types file and electron, or update electron, or pull the types file from the gl

[2017-06-16 14:19] #6 closed

[2017-06-19 12:37] usman-arham opened #7 "can not receive ipc message"
i have a angular component that has the following code

`this._electronService.ipcRenderer.send('ping', {'test': "test2"});`

and in main.js i have
[code]

but the electron console always console.logs arg as undefined :(

[2017-06-20 08:34] usman-arham commented on #7
@ThorstenHans can you help

[2017-06-20 09:33] #7 closed

[2017-06-20 09:33] usman-arham commented on #7
it was a minor build mistake

[2017-06-20 13:30] Inoverse opened #8 "All API references are null because of window.require is undefined"
Following situation:
I have a existing Angular 2 application which should now also delivered as an Electron app.
Added electron-packager for build the app and also added electron as a dependency to my `package.json`.

I'm not using the Angular CLI but Webpack (own `webpack.config`) which has `config.target = 'electron-renderer`. And I'm using this npm package (`ngx-electron`) for better API using

[2017-06-20 14:31] #8 closed

[2017-06-20 14:31] Inoverse commented on #8
Got it. Had to add
[code]
manually to my index.html.

[2017-06-20 16:21] ThorstenHans commented on #8
@Inoverse maybe. I've focused on integrating it with `@angular/cli` maybe they're doing something different regarding module loading.

Do you've disabled node integration for that particular `BrowserWindow` instance?

[2017-06-20 18:42] Inoverse commented on #8
Integrating into a CLI project was easy but an webpack only project was a bit different (or maybe just mine).

Nope `nodeIntegration` was enabled. Whatever. Maybe I'll find a bit free time and investigation on how to directly add it to CLI project and/or Webpack.

[2017-06-23 13:24] ThorstenHans commented on #6
✅

[2017-06-23 19:45] walkingriver opened #9 "Can @types/electron be removed as a devDependency?"
I'm pulling ngx-electron into my project as a dependency, which has a dependency on `@types/electron`, which appears to have a dependency on electron. This causes my Angular app's node_modules to have a complete electron distribution in it, which it never uses. However, when I then use electron-builder, it dutifully pulls it in. According to this (https://www.npmjs.com/package/@types/electron), th

[2017-06-23 20:35] walkingriver commented on #9
For grins, I did try what I'm suggesting. I forked the repo and removed `@types/electron` from package.json entirely. Now it won't build, because the namespace `Electron` doesn't exist. I imagine there must be a way to do this without bringing in the entire electron package as an angular dependency. I just can't think of what that is.

[2017-06-23 20:49] ThorstenHans commented on #9
@walkingriver electron provides it's own types since two weeks I think. They've deleted `@types/electron` as mentioned on npmjs.

I'm currently refactoring ngx-elecrton to work again correctly.

[2017-06-23 20:50] ThorstenHans opened #10 "Fix @types/electron"
As mentioned in #9 electron is now providing it's own typings. That said, they discontinued `@types/electron` which breaks ngx-electron currently.

[2017-06-23 20:52] walkingriver commented on #9
Let me know if there's anything I can do to assist.

[2017-06-23 22:55] walkingriver commented on #10
@ThorstenHans, if I can figure out where the Electron namespace comes from, I'm happy to work on this over the weekend and issue a PR. I really want to see this project succeed. 😄

[2017-06-23 22:57] ThorstenHans commented on #10
should be working now. `electron` is now a dependency of `ngx-electron`. A new version of `ngx-electron` is available on NPMJS

/fyi @walkingriver

[2017-06-23 22:57] #10 closed

[2017-06-23 22:58] ThorstenHans commented on #9
thanks for the offer. I've just published `1.0.3` on npmjs perhaps can you try it in your scenario / build. I've tested and verified functionality with `@angular/cli` based samples

[2017-06-23 23:04] walkingriver commented on #10
@ThorstenHans, thanks. I'm going to try this now. Not to beat a dead horse, but is that enough? The electron team says that we shouldn't take a dependency on electron, and that it should only be a devDependency.

[2017-06-23 23:12] ThorstenHans commented on #10
yes, a kind of true. Having `electron` as devDependency won't work. Because build has to run on your machine...

That means at compile time you'll need the electron.d.ts in place to ensure TSC compiles as expected.

ATM I'm not sure how to deal with this correctly. Providing the `electron.d.ts` on my own would be an option. But that would mean I'll have to reflect every public API change from elec

[2017-06-23 23:15] ThorstenHans opened #11 "provide electron API facade"
Because of the typing pain (see #10  #9  #6 ), ngx-electron should provide an API facade for all electron APIs.

That would become a huge breaking release, but in the end, developers will have multiple benefits

- more, fine granular APIs
- integration of `NgZone` offered by `ngx-electron` with no-touch

[2017-06-23 23:15] walkingriver commented on #10
What I'm seeing now is an error when I try to sign my electron app...

[code]

I'm told it's because Electron is a dependency of my app, and not a devDependency, and that causes electron's dist to get copied into my Angular app's node_modules folder. I could try to delete it manually after a build, I suppose.

Please let me know if you come up with a long-term solution.

[2017-06-23 23:16] ThorstenHans commented on #9
@walkingriver thanks for the input I'm closing this due to the currently working 'workaround' 😄 and the upcoming release mentioned in #11

[2017-06-23 23:16] #9 closed

[2017-06-23 23:17] ThorstenHans commented on #3
closing this duplicate of #11

[2017-06-23 23:17] #3 closed

[2017-10-16 09:43] elovin opened #13 "license"
I'm using your plugin for a student project, but this plugin seems to miss a license.
Will you add an open source license like MIT, BSD or GPL ?

[2017-10-16 10:02] ThorstenHans commented on #13
yes, sorry about missing the license... I'll add it throughout the week.

It'll be MIT

[2017-10-16 10:35] elovin commented on #13
Okay thanks

[2017-10-16 10:35] #13 closed

[2017-10-25 16:24] daeyeop opened #14 "ngx-electron conflicts with the most up-to-date electron-builder"
Hi, I recently started developing electron app.
And I need this module to communicate between my app and the electron main process.
However, when I tried to build my distribution file using the most up-to-date electron-builder,
it conflicts each other and gives an error I can't understand.
It ONLY happens when I build osx dist on Mac.
These two work great without any problem on Window.
Thank you i

[2017-10-25 16:41] daeyeop commented on #14
downgrading to v1.0.1 kinda solve the problem.

[2017-10-30 14:48] IT-MikeS opened #15 "Release to deploy bundle size fix"
Can we get a release to reflect the latest pull request ( #12 ) merge, allowing `npm i` to not install the bloated bundle issue?

[2017-10-30 18:47] okonon commented on #15
@ThorstenHans could you tag a release?

[2017-10-30 19:17] IT-MikeS commented on #14
To me this error doesn't seem to come from `ngx-electron` but just to see, can you post that debug log in a pastebin or something?

[2017-11-10 12:32] IT-MikeS commented on #15
I found a fork of this project `ngx-electron-slim` which has this fix in it, I'll use that for now until this project gets updated.

I understand that @ThorstenHans may not have time to manage the project at the moment, and I'll come back to using it when he returns.

[2017-11-15 10:26] ThorstenHans commented on #15
fixed with `v1.0.4` which brings also support for angular5

[2017-11-15 10:27] #15 closed

[2017-11-15 10:28] ThorstenHans commented on #14
further information would be helpful. Feel free to reopen issue @daeyeop

[2017-11-15 10:28] #14 closed

[2017-11-16 18:12] mandaarp opened #16 "Metadata version mismatch for ngx-electron/index.d.ts with Angular 4.x"
Error: Metadata version mismatch for module node_modules/ngx-electron/index.d.ts, found version 4, expected 3, resolving symbol AppModule in src/app/app.module.ts

The issue is seen with ngx-electron v1.0.4. Downgrading it to v1.0.3 resolves the issue.

Please fix it for ngx-electron 1.0.4.

[2017-12-04 18:02] IT-MikeS commented on #16
v1.0.4 supports Angular 5 only as far as I can tell. The error is because you are using "@angular/compiler": "^4.0.0" which gets upset about a mismatch in metadata when using the Angular 5 compiled v1.0.4.

I know 1.0.4 brought some fixes for bundle size, so at the moment if you want to use it with angular 4 you will have to use version 1.0.3 which as the bloating issue when packaging. My suggesti

[2017-12-05 23:20] okonon commented on #15
@ThorstenHans thanks!

[2017-12-10 10:18] miloshavlicek opened #17 "Fullscreen"
Is it possible to set window fullscreen using ngx-electron?

[2017-12-10 21:15] walkingriver commented on #17
I would be tempted to send an asynchronous message through ngx-electron up to the main process, and in its event handler call `win.maximize()` on the browser window. https://electronjs.org/docs/api/browser-window#winmaximize

Would that work for you?

[2017-12-11 07:02] miloshavlicek commented on #17
@walkingriver How can I send async msg to main proc to get BrowserWindow API? I think BrowserWindow API is not available in ngx-electron at this time. Thanks for your reply!

[2017-12-11 10:31] wxingheng opened #18 "Can't find node'fs', hope to provide help"
import {Component, OnInit, ElementRef} from '@angular/core';
import {ElectronService} from 'ngx-electron';
import * as http from 'http';  //  yes
import * as fs from 'fs';       //  { }
import * as path from 'path';  // yes

I want to use 'FS' and find it empty. But'http','path'can be used normally. I hope to give me some help.

[2017-12-11 19:33] ameagol opened #19 "Send Variable from main.js to Angular 2 directly"
Hi,
I've already tested the ping/pong with success, but I have to trigger from main.js (MENU), then click in a button associated with the method playPingPong() .

Please let me know if is possible to transmit a variable, directly from main.js to Angular like:

**main.js** => **angular component**

My Idea would be like below, but is not receiveing anything from angular.

main.js
[code]

service.ts

[2017-12-12 17:21] walkingriver commented on #17
@miloshavlicek, Unfortunately, I don't have any code I am permitted to share with you, so I'll try to sum up. In your angular code, you'll want to inject the `ElectronService` from `ngx-electron`. Then you'll need to do something like this.

`this.electron.ipcRenderer.send('goFullScreen'); // this.electron is injected as an ElectronService`

On the electron side, you'll need to import `ipcMain` fr

[2017-12-17 16:23] bravecobra commented on #16
I've just hit the same issue. I'm at ``"@angular/compiler": "4.4.4"`` thus downgraded to 1.0.3  which fixed the problem (tnx for the hint).

[2018-01-06 19:00] Frixoe commented on #19
Have you tried using the remote module instead?

There’s a function on it called getGlobal(string) where the string is a variable in your main process.

FYI: I have not experimented with this method.

[2018-01-11 13:48] tadeork opened #20 "Mock for testing"
Is there any lib or code to use as mock for the call `.ipcRendered.send('node-function', data)`?

[2018-01-14 03:56] walkingriver commented on #19
I have not tried that, no.

[2018-01-24 03:01] plantain-mang commented on #18
In Angular's webpack.config.js file there is a top level property called "node" it looks like this:
`"node": {
    "fs": "empty",
    "global": true,
    "crypto": "empty",
    "tls": "empty",
    "net": "empty",
    "process": true,
    "module": false,
    "clearImmediate": false,
    "setImmediate": false
  }`
Here is the documentation of this property https://webpack.js.org/configuration/node/

[2018-02-28 13:35] jmorrisIII opened #21 "Metadata version mismatch error"
I get the following error during "ng serve"

`ERROR in Error: Metadata version mismatch for module E:/XXXX/XXXX/node_modules/ngx-electron/index.d.ts, found version 4, expected 3, resolving symbol AppModule in E:/XXXX/XXXX/src/app/app.module.ts, resolving symbol AppModule in E:/XXXX/XXXX/src/app/app.module.ts`

[2018-03-01 20:29] vfranchi commented on #18
I believe I have a similar problem. I'm trying to `require('https')` from Node.js, but I'm getting a webpack version of it. I managed to work around the issue by doing this:
[code]

I don't really know why it works. @plantain-mang where is this webpack.config.ts file you talked about? I could try to change the target to 'node' and see if it helps me.

[2018-03-03 04:41] plantain-mang commented on #18
@vfranchi

### why the above code works
[code]
Typescript does not expect there to be a require property on the global window object, regardless of whether or not the electron environment supports it. The above code explicitly defines a require property with the type any. If this were a normal browser environment this behavior would be undesirable since require does not exist as a global there.
[c

[2018-03-03 12:57] vfranchi commented on #18
Thanks for the help. After setting webpack target to 'node-webkit' I was able to `require("https")` without the `declare global` stuff.

This is the end of my **webpack.config.ts** file, in case anyone else is wondering.
[code]

[2018-03-13 06:24] developerJared commented on #21
I get the same.

[2018-03-19 12:22] jmorrisIII commented on #21
@developerJared updating Angular and the Angular CLI to the latest versions resolved this issue.

[2018-03-19 12:22] #21 closed

[2018-03-19 20:46] elldawg commented on #8
I am seeing this issue today.    Node integration is not disabled. Requiring electron from the HTML didn't address the issue either.

[2018-05-09 15:50] imolorhe opened #22 "npm prepublish script is deprecated as at npm@5"
As at npmv5, `prepublish` script (which is used in this project) is deprecated for build steps. Instead the `prepare` script should be used.

[2018-05-29 16:35] ronnyek opened #24 "Handle App events"
I'm not super experienced with electron outside of angular applications. I was able to implement a handler for the login event in a main.ts file that exists outside the scope of the application and it works.

Now I'd like to move that logic so that my angular application can handle that, and am completely lost.

Is there a way to grab the electron service and create a handler for the login even th

[2018-06-12 05:11] shailesh1729 opened #25 "The package doesn't seem to work with Angular 6"
I was trying to build an electron-angular application.  After installing the package via npm, adding it to dependencies, and then importing it in app.module.ts, here is the error I am getting:
`ERROR in node_modules/ngx-electron/src/electronService.d.ts(1,27): error TS2307: Cannot find module 'electron'.
node_modules/ngx-electron/src/electronService.d.ts(16,23): error TS2503: Cannot find namespace

[2018-06-27 09:35] TheYojimbo commented on #25
Hi @shailesh1729, we've encountered the "Cannot find namespace 'NodeJS'" as well, and we fixed it by adding "types": ["node"] in our tsconfig.app.json as explained here : [https://github.com/TypeStrong/typedoc/issues/320](url).
We didn't have the other issue with electron, but we hope this helps !

[2018-07-13 10:16] jvaes commented on #25
@shailesh1729 I fixed this by adding "electron" to my project.

npm install electron --save-dev

Hope this helps!

[2018-09-12 12:50] bampakoa commented on #20
@tadeork you can use Observables to mock `ipcRendered.send` command.  Check out [this](https://gist.github.com/bampakoa/25913b83714d8123a61bc437c9a368d6) gist, I hope it helps.

[2018-09-12 13:08] bampakoa commented on #11
@ThorstenHans any estimation on this release? I am currently interested in the integration with ngZone.

I would be glad to submit a PR to help furthermore, if you could give more information on what is to be implemented 😃

[2018-09-28 11:04] ThorstenHans opened #26 "looking for maintainers"
I've been working with Electron for quiet a long time. But my priorities shifted a bit in the past. That's why I'm looking for someone who want's to take over this repo

[2018-09-28 11:07] bampakoa commented on #26
@ThorstenHans I would be definitely interested! 😃

[2018-10-03 14:18] dariusll commented on #25
![image](https://user-images.githubusercontent.com/7189331/46416329-fd306e00-c72f-11e8-820c-39335567f922.png)

1. Created new Angular 6 project using Angular cli.
2. npm install electron --save-dev
3. npm install ngx-electron --save
4. Imported ngx-electron inside app module
5. launching this._electronService.shell.openExternal('https://google.com') inside app.component.ts

[2018-10-29 07:07] #26 closed

[2018-10-29 07:08] ThorstenHans commented on #25
currently working on a re-write for latest Angular..

should be out by the end of the week.

[2018-11-07 08:52] ofirmgr commented on #25
any news? I can't upgrade to angular 7

[2018-11-07 19:43] euberdeveloper commented on #25
I installed electron with --save-dev option, I imported ngx-electron correctly but it does not work with ng serve. I mean, if I build the angular 6 app, and run electron . it works well, but while I am developing the app and I don't want to compile the app to see the result it does not work. remote and almost every property in the service is set to null. Is it normal?

[2018-11-18 10:29] #16 closed

[2018-12-24 09:41] hanct opened #27 "Unit Testing - Injected electronService.ipRenderer is null"
Jasmine: 3.3.0
Current Project: Develop electron application (with angular 7).

I have a angular component as shown here
<pre>
    export class IdSectionComponent {
           constructor(private <b>_electronService : ElectronService</b>) {
            }
            .....
    }
</pre>
Using jasmine and angular test package, I configure the below testing module, and then create an instance of the i

[2018-12-27 13:00] hanct commented on #27
ok! Noted. Thanks. To that end, i have solved this issue, by creating a mock for it.

[2018-12-27 13:00] #27 closed

[2019-01-08 10:12] ThorstenHans commented on #27
cool. thanks @bampakoa for jumping on that thread. Was off during vacation 😄

[2019-01-08 10:12] #24 closed

[2019-02-27 21:35] elcordova commented on #25
need add BrowserModule with NgxElectronModule in imports

[2019-03-07 20:22] ElMaldithoDJ opened #28 "Ngx-electron API"
Can I close a window using this module?

I try to close a window in electron but nothing is happend I use a "JS" file and try to connect to my "TS" and nothing is happend and I don't know how can I do that with angular and electron, beacaus I use the 2 API's Mixed

[2019-03-10 15:17] michaelfoidl opened #30 "ipcRenderer always null"
Hi!

I created a new Angular 7 app with angular-cli and added your package, as well as the necessary electron packages. I also wired everything up. However, I was not able to communicate between ipcMain and ipcRenderer. In fact, Electron service always returns null when requesting an instance of ipcRenderer.
Is this supposed to work with Angular 7?

[2019-03-10 21:49] bampakoa commented on #30
@michaelfoidl I can confirm that this package works with Angular 7. It would be great if you could share some of your code to help you.

[2019-03-11 09:28] michaelfoidl commented on #30
Since the project I am working on unforntunately is not public, I cannot just share the whole repository. But I'll try my best to sketch the structure.

This is my `package.json`-File:
`{
    "name": "norris",
    "version": "1.0.0",
    "private": true,
    "scripts": {
        "angular:build": "ng build",
        "angular:serve": "ng serve"
        "electron:build": "tsc -p ./src/tsconfig.electr

[2019-03-12 07:35] niuwenbo commented on #30
i  have some error but also shell is null
i used angular 7.2.2 ionic 4.1.1 capacitor beta-19
![image](https://user-images.githubusercontent.com/5061472/54182376-515c2d00-44dc-11e9-90de-c0501a2e8a07.png)

[2019-03-13 12:26] bampakoa commented on #30
@niuwenbo in the attached screenshot I noticed that `isElectronApp` variable is `false`.

[2019-03-13 17:40] akjhacse commented on #30
@bampakoa
In electron side if we are using webview then we have to enable the nodeintegration and due to that jquery does not work. But if we disable nodeintegration  then we are not able to access any electron service in angular.

Below is the code for Electron without nodeintegration:

**main.js**

`const {
  app,
  BrowserWindow,
  globalShortcut
} = require('electron');

let mainWindow;

app.o

[2019-03-18 07:45] bampakoa commented on #30
@akjhacse you do not need to disable `nodeIntegration` for **jquery** to work, if you import it like below:

[code]

[2019-03-21 16:15] michaelfoidl commented on #30
@bampakoa This would not work for me since I do not import third party scripts like JQuery using AngularCLI's the scripts-section, but directly through TypeScript as modules. This means that I cannot influence the order in which the scripts are loaded.

[2019-03-22 17:41] ElMaldithoDJ opened #31 "How can I detect when a window is normal or maximized?"
I need some help because I'll try to change an icon when the window is normal or maximized.
Anybody help me pleace I need olny an example code.

[2019-04-26 08:23] pilz97 opened #32 "isElectronApp is true but ipcRenderer is null"
Hi,

i packed my angular app to an .exe with electron-packager.
Inside my app I want to use sendSync from the ipcRenderer, but then I get an error because the ipcRenderer is null although isElectronApp is true..

This is my code where the window is created:

`
const { app, BrowserWindow } = require('electron');
const path = require('path');
const url = require('url');

let win;

const createWindow

[2019-04-26 15:43] johannesjo opened #33 "Make it work with electron 5.0.0"
None of the interfaces seem to work with electron 5.0.0. Would be cool to have support for the new version!

[2019-04-26 16:14] johannesjo commented on #33
Ok it seems like some of the defaults changed in v5.0.0. I was able to solve this by setting `nodeIntegration` to `true`, like so:
[code]

[2019-04-27 02:32] #33 closed

[2019-04-28 19:25] hjvanranden commented on #32
I have the same problem.
Reproduction scenario:
- Pull https://github.com/hjvanranden/angular-electron, branch with_ngx-electron_problem_ipcRenderer_is_null
- In root directory on command prompt: npm run electron-build
- In electron window Toggle developer tools, look in console. It says:
  this.electronSvc.ipcRenderer =  null

[2019-04-29 06:41] ThorstenHans commented on #32
@hjvanranden what was the issue? Sounds like you investigated already some time to get that up and running. Maybe something that could be contributed back to `ngx-electron`

[2019-04-29 07:13] hjvanranden commented on #32
The issue is that when using Angular in Electron (with ngx-electron), I cannot make an IPC call, because ipcRenderer == null (although electronSvc.isElectronApp returns true).

[2019-04-29 07:16] ThorstenHans commented on #32
which version of `ng` and `electron` are you using

[2019-04-29 07:28] hjvanranden commented on #32
Angular CLI: 7.3.8
"electron": "^5.0.0",

[2019-05-01 08:59] colin-bz commented on #32
Try setting `nodeIntegration` to `true`.

`new BrowserWindow({
      webPreferences: {
        nodeIntegration: true
      }
    });`

[2019-05-01 14:55] hjvanranden commented on #32
That fixes the problem, thank you very much!!

[2019-05-02 09:44] pilz97 commented on #32
Thank you fixes the problem for me too! :)

[2019-05-02 09:44] #32 closed

[2019-05-06 12:37] abalad commented on #30
Same issue here

[2019-05-07 13:58] amanitequeen commented on #30
Hello,

I have same issue with a Ionic 4 application, code below
[code]
displays "I'm in electron" but then it shows an error "TypeError: Cannot read property 'sendSync' of null"

[2019-05-13 00:11] T4K3R0 commented on #31
Maybe this could help you:
`export class Example {

  constructor(private es: ElectronService) {
if ( this.es.remote.getCurrentWindow().isMaximized()) {
// Your code
}
  }

}`

[2019-05-14 12:47] ohager commented on #30
A question: I had the `null` problem, too. Enabling `nodeIntegration`  makes it work. But I got a security warning in Developer Tools: _Electron Security Warning (Insecure Content-Security-Policy)_

Is there a way to make ngx-electron work with `nodeIntegration:false`?

[2019-05-14 13:38] michaelfoidl commented on #30
I thought the whole point of using `ngx-electron` was not to enable `nodeIntegration`...

[2019-05-14 19:40] ohager commented on #30
me too, and it's not even documented (at least haven't seen it). But I prefer event-driven over polling (in case of `remote`)

[2019-05-14 23:35] voxson commented on #30
Hi guys,
First, thanks @bampakoa for this really nice module.

I got the same error then you guys:
![image](https://user-images.githubusercontent.com/49380689/57738854-924b0a80-76f4-11e9-8f0d-0914e55d0331.png)
(the 'true' is a console.log(this._electronService.isElectronApp);)

[2019-05-14 23:38] Rekoc commented on #30
Hi guys,
First, thanks @bampakoa for this amazon module.

I got the same error then you guys:
![image](https://user-images.githubusercontent.com/18137648/57738974-17362400-76f5-11e9-82f6-3b7a82a14083.png)
(the 'true' value is from console.log(this._electronService.isElectronApp);)

[2019-05-15 08:29] bampakoa commented on #30
As of Electron version **5.0.0**, `nodeIntegration` is set to false by default. I came across the same error when using Angular 7+ and Electron 5. When I set `nodeIntegration: true` everything works correctly.

![image](https://user-images.githubusercontent.com/7170892/57760548-76e7fb80-7704-11e9-9dde-45accc906551.png)

[2019-05-17 06:10] VinayJeurkar commented on #30
I faced similar issue, but I fixed it by changing the code from :
`win = new BrowserWindow({
	width: 1200, height: 800,
});`

To:
`win = new BrowserWindow({
	width: 1200, height: 800,
	webPreferences: {
		nodeIntegration: true,
		backgroundThrottling: false
	}
});`

[2019-05-17 11:03] enheit opened #34 "Link to the blog post is broken"
The link inside Introduction section of `README.md` file is broken.

Currently, it refers to: https://medium.com/@ThorstenHans/integrating-angular-and-electron-using-ngx-electron-9c36affca25e#.4scol1nli

Should be fixed or removed from the README.

[2019-09-05 21:55] zrjosser opened #36 "Access to Node Child Process Api"
Its possible?

[2019-09-26 19:12] jessycormier opened #37 "Link to your medium blog is dead."
It would seem that you've moved from Medium since this was last updated, I've located this: https://thorsten-hans.com/integrating-angular-and-electron-using-ngx-electron which I can assume is what the readme should be pointing to :)

[2019-09-26 19:17] jessycormier commented on #37
I've created a PR to resolve this.

[2019-09-26 19:17] #37 closed

[2019-09-27 14:17] jessycormier commented on #17
@miloshavlicek I think the thing to understand is you can get access to the BrowserWindow Api via ngx-electron from firing events through the ipcRenderer. You can register an event to fullscreen the browserWindow which is fired from your client-side code.

if you're using newer versions of electron you can use `win.setFullScreen(true);`

Much like @walkingriver example it would look something like

[2019-10-16 21:48] ctchisholm commented on #30
I've noticed that ipcRenderer is always null when I use any version of electron above 4.  No matter what I set nodeIntegration to, ipcRenderer is always null.  I suspect that this projects needs to be updated to support electron version 5+.

[2019-10-18 20:15] ThorstenHans commented on #30
generally `ngx-electron` was designed back in the time of Angular 4 and Electron 2.x

In the meantime, the electron team came up with some great security guidelines that should be taken into consideration. (their change of `nodeIntegration`s defaultValue was also made to increase security.

Long story short. The overall advice is to explicitly expose APIs to the Renderer by using a `preload` scrip

[2019-10-18 20:23] ThorstenHans commented on #36
Hey, sure. either you can remote require it
or you can invoke an `IPC` message which can be handled by the main process which can again use `child process` API offered by Node.JS.

[2019-10-18 20:23] #36 closed

[2019-10-18 22:13] ThorstenHans commented on #34
fixed, thanks for finding and reporting

[2019-10-18 22:13] #34 closed

[2019-10-18 22:17] ThorstenHans commented on #30
I've bumped `ngx-electron` today and compiled it against `Electon@6.0.10` in combination with `Angular@8.2.x` .

Of course works `ngx-electon` only with `nodeIntegration:true`. This is due to the age of `ngx-electron`.

Back in the days when writing `ngx-electron`, `nodeIntegration` was `true` by default. Today, I consult you to dive deeper into Electron and use a custom preload script with tailor

[2019-10-18 22:17] #30 closed

[2019-10-18 22:18] ThorstenHans commented on #28
Is this still the case? If so ReOpen the Issue please

[2019-10-18 22:18] #28 closed

[2019-10-18 22:19] #11 closed

[2019-10-18 22:19] #31 closed

[2019-10-18 22:22] ThorstenHans commented on #19
@walkingriver the code listing above is wrong. in the main, you've to do `window.webContents.send` in order to **send** a message

see https://electronjs.org/docs/api/web-contents#contentssendchannel-arg1-arg2- for further instructions

Feel free to re-open the issue if the problem still exists

[2019-10-18 22:22] #19 closed

[2019-10-18 22:24] #17 closed

[2019-10-24 15:03] ottosson commented on #30
I get undefined IpcRenderer when running my Angular tests. Should I think about this is any specific way to get testing to work?

Thanks!

[2019-10-24 15:13] ottosson opened #39 "Add FakeElectronService for testing"
Wouldn't it be a good thing to add the FakeElectronService, from the gist hinted at in #20, to the module for easier testing?

[2019-10-25 07:06] ThorstenHans commented on #20
Hmm, 🤔 providing it in the library may work for that particular scenario buy I think the fake heavily depends on the requirement you've to meet...  I see potentially ending up in providing fake impl. for every electron API 😀

Basically, that was exactly the reason why I added the abstract base class.

However, if you come up with something generic in PR, I would be really thankful 👍

[2019-10-25 07:07] #20 closed

[2019-10-25 07:07] ThorstenHans commented on #39
Hmm, 🤔 providing it in the library may work for that particular scenario buy I think the fake heavily depends on the requirement you've to meet... I see potentially ending up in providing fake impl. for every electron API 😀

Basically, that was exactly the reason why I added the abstract base class.

However, if you come up with something generic in PR, I would be really thankful 👍

[2019-10-25 12:22] ottosson commented on #39
Just implementing a small part of this for my own needs I couldn't really figure out something generic. And as you say it would be too much work implementing mock functionality for every Electron feature 🙄

[2019-10-25 12:22] #39 closed, assigned to nobody

[2019-11-05 13:07] xuye1991 opened #40 "Cannot read property 'sendSync' of null"
Hi,
i found a issue when i use the ngx-electron 2.2.0.
i have install and configuration as the instruction.
but there is still some some exception  when i call send or sendSync.

environment:
        @angular/core :~8.2.11
         typescript: ~3.5.3
         electron: ^6.1.2
         ngx-electron: ^2.2.0

could you please give me suggestion about it? thanks a lot.

[2019-11-05 14:06] xuye1991 commented on #40
i have solve this problem via set nodeIntegration :true
new BrowserWindow({ webPreferences: { nodeIntegration: true } });

[2019-11-05 14:06] #40 closed, assigned to nobody

[2019-11-16 09:46] Eve-Sama opened #42 "ipcRenderer is null"
I have added ngx-electron to my project and build up successfully.

When I console the `electronService`, I find a lot of attributes are `null` like below:

![image](https://user-images.githubusercontent.com/30228406/68991359-04b1c880-0899-11ea-9c38-a9d28d6a3e9f.png)

[2019-11-16 09:51] Eve-Sama commented on #42
I find solution that setting

 `new BrowserWindow({
    webPreferences: {
      nodeIntegration: true
    }
  });`

[2019-11-16 09:51] #42 closed, assigned to nobody

[2019-11-17 04:06] coopernyc opened #43 "on Mac (Catalina) with latest @angular.cli and electron all references in electronService are null"
<img width="1217" alt="Screen Shot 2019-11-16 at 10 56 34 PM" src="https://user-images.githubusercontent.com/11201225/69002840-b3b7c980-08c4-11ea-9039-4c594e881b8f.png">
<img width="508" alt="Screen Shot 2019-11-16 at 11 00 04 PM" src="https://user-images.githubusercontent.com/11201225/69002849-dba72d00-08c4-11ea-8c82-9aa1885da1e6.png">
<img width="508" alt="Screen Shot 2019-11-16 at 11 01 33 PM"

[2019-11-17 22:55] coopernyc commented on #43
Sorry, I fugured it out, in Electron 6+ you have to force nodeIntegration: true while creating BrowserWindow... it works now as expected
win = new BrowserWindow({
        width: 800,
        height: 600,
        show: true,
        **webPreferences: {
            nodeIntegration: true
        }**
    });

[2019-11-17 22:55] #43 closed, assigned to nobody

[2020-01-29 12:00] ThummalaJanardhanReddy opened #45 "How to pass dialog properties by using variable"
How to pass properties of showOpenDialog({properties:['openFile'], filters:[]}) by using variable.

let command = 'openFile';

showOpenDialog({properties:[this.command], filters:[]});

I'm getting error with above approach, Can you tell me how to achieve that ?

[2020-02-17 19:30] vieillecam commented on #25
Not sure I understand why we have to include the 'electron' package inside our WebApp in order to be packaged in... Electron... For me, it has been resolved only by adding the electron types to the dev dependencies.: `npm install -D @types/electron`

[2020-03-16 10:17] charlesr1971 commented on #30
[code]

Main elements of my **directory structure**:

[code]

I have added to **electron/main.ts**:

[code]
But, I still get the error:

`TypeError: Cannot read property 'sendSync' of null`

I am using the latest version of:

`ngx-electron`

My **package.json**:

[code]

**electron/tsconfig.json**:

[code]
In VSCode, I am then adding the following into the terminal:

`npm run start:electron`

This

[2020-07-21 23:41] Bug-Reaper commented on #32
Fixed for me, would be good to have some documentation on it! thanks @bz-dev

[2020-08-27 09:42] Wensh opened #51 "Integration with ngZone for callbacks from the main process"
Callbacks from ipcRenderer.on, run outside of AngularZone, for now I have to use the workaround ngZone.run(). Are there any plans to fix this? Possible duplicate of https://github.com/ThorstenHans/ngx-electron/issues/3.

My apologies, if I am reopening an old issue, but I don't see the original issue being resolved in neither of referenced issues:
https://github.com/ThorstenHans/ngx-electron/issue

[2020-08-28 15:41] StationedInTheField commented on #32
Somehow ```nodeIntegration: true``` seems to go ignored for me (Angular9/Eletron9), I'm trying to use the remote module to require fs but remote keeps coming back as null. Spent all day trying all different kinds of workarounds, but nothing worked. I have a custom webpack:

[code]

[2020-08-28 16:32] StationedInTheField opened #52 "isElectronApp is true but remote is null"
I tried the workarounds here: https://github.com/ThorstenHans/ngx-electron/issues/32

With:
[code]

Somehow ```nodeIntegration: true``` seems to go ignored for me, I'm trying to use the remote module to require ``fs`` but remote keeps coming back as null. Spent all day trying all different kinds of workarounds, but nothing worked. I have  ```"@angular-builders/custom-webpack": "^9.2.0"``` and ```"

[2020-08-28 17:42] StationedInTheField commented on #52
Okay never mind, I fixed it. Not entirely sure how but I had to downgrade my node typings to 12.0.12.

[2020-08-29 05:02] calico-crusade commented on #52
It seems that ```ElectronService.remote``` is null consistently in electron 10+.
I had to downgrade electron from 10.1.0 to 9.2.1 to get it to work.

[code]

Any reference to ```this.window``` errors with a null reference on getCurrentWindow() because remote is null.

[2020-08-29 10:17] StationedInTheField commented on #52
Try:

[code]

Among other things that's one thing I changed, you can also keep your eyes on https://github.com/QuestNetwork/quest-messenger-js - I still have a little libp2p pubsub issue (ipfs/js-ipfs issues/3249), but once that's solved and the demo works, I'll commit it and it has remote working now (using it to require 'fs' so that I can store config, message history, etc)

[2020-08-30 02:31] billygerhard commented on #52
I am having undefined issues all over the place with Electron 10.0.0 also.

[2020-08-30 02:57] billygerhard commented on #52
I found a solution. In 10+ enableRemoteModule is set to false by default. In your mainWindow constructor, add it to your web preferences
[code]

[2020-08-30 08:30] StationedInTheField commented on #52
So the last thing I told people to try probably did the trick. Thanks for the info @billygerhard !

[2020-08-30 13:53] billygerhard commented on #52
Sometimes it helps to read the release notes! Breaking changes always seem to break stuff!

[2020-08-31 00:38] StationedInTheField commented on #52
That's where I got it. Would be great if these things found their way into the readme since a number of people keep running into the same issue =)

[2020-09-08 15:08] KiamboJyms commented on #30
Hey was getting the same when nodeIntegration was false and set it to true and now after that correction everything is returning undefined.

[2020-09-08 15:09] KiamboJyms commented on #30
Angular version 10 electron version 10 and ngx-electron version 2.2.0

[2020-10-06 06:45] ThorstenHans opened #54 "Update dependencies"
Unfortunately, the dependencies of the project are quite outdated

[2020-11-05 08:10] gnu4cn opened #55 "When use @capacitor-community/electron, there is a ERROR"
[code]

[2020-11-05 08:18] #55 closed, assigned to nobody

[2020-11-05 08:18] gnu4cn commented on #55
After `npm i electron`, there is no ERROR.

[2020-11-12 20:00] assmabenmussa opened #56 "Is this project still supported?"
Hey, so I downloaded this library in hopes of it helping me with connecting my Angular project to Electron.js using the ipcRenderer, and I got this message:
[code]
I'm using Angular 10

[2020-11-22 09:15] bampakoa commented on #56
@assmabenmussa can you share some more details such as the Electron version that you are using and the way that you are trying to use `ipcRenderer`? I am currently using the library in Angular 10 with no issues.

[2020-11-29 12:54] bampakoa commented on #45
@ThummalaJanardhanReddy could you please give some more details on the method `showOpenDialog` that you refer to?

[2020-12-21 16:53] sarahtully commented on #56
I had this happen to me vs code imported the wrong path. Double check the import, should be `import { ElectronService } from 'ngx-electron';` and not `import { ElectronService } from 'ngx-electron/public_api.ts';`

[2021-01-23 05:09] Bug-Reaper commented on #52
This worked for me, thank you. :) electron 10.0.0

[2021-02-13 02:45] TheColorRed opened #58 "contextIsolation is deprecated, but setting it to false throws null error"
When `contextIsolation` is set to `true`, the following error is produced:

However, with it off/emitted, electron says:

false to true in a future release of Electron.  See https://github.com/electron/electron/issues/23506 for more information

[code]

Is there a way around this?

[2021-02-16 22:28] Nantris commented on #58
You can't use `nodeIntegration` with `contextIsolation` - they're mutually exclusive.

[2021-02-24 12:26] ZentoDH opened #59 "this._electronService.shell.openPath is not a function"
I'm trying to bind this._electronService.shell.openPath('/location/to/folder') to a button, but when I click it it tells me: this._electronService.shell.openPath is not a function(...). Thought it might be something I did wrong with the injection, but I replaced .openPath() with .openExternal('https://github.com') and that worked fine. Been scratching my head on this for a while now. Anybody any i

[2021-03-03 21:56] tiapko commented on #30
In my case only `isElectronApp is true` all other properties are null or ReferenceError

npm 6.14.11
Angular CLI: 11.2.2
Node: 14.15.5
OS: win32 x64
Angular: 11.2.3

[code]

![image](https://user-images.githubusercontent.com/16177106/109876387-6a86b700-7c7a-11eb-9f89-5b62ea32b34e.png)

[2021-03-07 05:04] DerHerrGammler opened #60 "Not working with Electron 12"
I updated my Electron to electron version 12 and now this module didn't work anymore.

[2021-03-08 04:37] mazlano27 commented on #60
Same here. IPCRendered is null since the update.

[2021-03-08 14:04] wiusdev commented on #60
I've solved this by setting contextIsolation:false when creating a browserWindow in main.js file
` win = new BrowserWindow({ width: 800, height: 600 ,webPreferences: {
    nodeIntegration: true,
    contextIsolation:false
  }});
`

[2021-03-09 07:39] DerHerrGammler commented on #60
This works for me. Thank you very much

[2021-03-09 07:39] #60 closed, assigned to nobody

[2021-03-12 02:10] clark-97 opened #62 "Namespace 'NodeJS' has no exported member 'Require'."
I tried `ng build` , console input:
[code]

package.json
[code]

does not ngx-electron v2.2.0 support electron v12.0.1?

[2021-03-12 11:13] GilbertoTADS opened #63 "Namespace 'NodeJS' has no exported member 'Require'."
Olá! Logo após importar o ngx-electron no app.module.ts estou recebendo este erro :
**Error: ../node_modules/electron/electron.d.ts:6594:21 - error TS2694: Namespace 'NodeJS' has no exported member 'Require'.**

Veja:
[code]

Este é meu package.json:

[code]

[2021-03-12 11:15] GilbertoTADS commented on #62
Estou com o mesmo problema a 1 semana, acabei de abrir uma issue. Caso encontre uma solução poste aqui ;)

[2021-03-12 11:42] GilbertoTADS commented on #62
Parece que realmente é uma incompatibilidade com a versão. Fiz downgrade do Electron para a versão 9.0.0 e funcionou.

Tente também.

[2021-03-13 05:46] kunalkhin commented on #62
I had the same issue and is due the older version of @types/node dependency. Updating @types/node to version 14.14.33 or above solved the issue.

[2021-03-13 05:47] kunalkhin commented on #63
I had the same issue and is due the older version of @types/node dependency. Updating @types/node to version 14.14.33 or above solved the issue.

[2021-03-16 01:57] clark-97 commented on #62
I installed nodejs v14.4.0, when I changed `"@types/node": "^12.11.1"` to `"@types/node": "^14.4.0"` , it works.

[2021-03-16 01:57] #62 closed, assigned to nobody

[2021-03-16 20:29] GilbertoTADS commented on #63
Fiz isso, não funcionou para mim :(

[2021-03-17 01:59] eddyizm commented on #52
What version of angular are you guys on? I'm having a hell of time connecting to anything electron and was hoping this library would help. Now I get the same thing where the it's going in the block because it's true but the sendSync bombs and is NULL
[code]
Do I need to downgrade to electron 10.* ? Even adding the web preferences didn't fix it.

EDIT: Currently on `"electron": "^12.0.1",`

[2021-03-17 15:27] Jay031 commented on #52
I have exactly the same problem with Electron 12.0.1 and ngx-electron 2.2.0
ipcRenderer stays null. So my send / on functions are all broken!

[2021-03-17 15:30] billygerhard commented on #52
Its because of the new security options they add as electron gets updated more, my current webPreferences for my main window I know you need on electron 12 are
[code]

[2021-03-18 00:18] eddyizm commented on #52
@billygerhard That totally worked! It looks like I was missing the `contextIsolation: false`
I was ready to pack my bags and use another boiler plate template even when I really didn't want to. Thanks a bunch!

@Jay031 see above.

[2021-03-18 09:34] Jay031 commented on #52
Love the quick replies, thanks guys!
I also missed the `contextIsolation: false`

[2021-03-27 07:59] kzimny commented on #60
@willianSteffler thank you for the solution! It works.

[2021-04-23 20:25] artur-kulik commented on #30
The same issue with angular 11 and ngx-electron 2.2.0

[2021-04-26 16:48] CatbirdBasil commented on #52
Have struggled with that error for few days too.
In case you can't/don't want to disable contextIsolation here is [guide](https://stackoverflow.com/questions/57807459/how-to-use-preload-js-properly-in-electron) on how to use preload.js nicely.

Basically you can get same behavior and expose only those things you really want to

[2021-05-12 17:48] lerchenreich commented on #30
angular11, electron 12.0.7 and ngx-electron 2.2.0

I read the electron documentation and have found out, that the contextIsolation is by default true for securityreasons.
contextIsolation must be false and nodeIntegration as already described must be true.

good luck

  function createWindow () {
      mainWindow = new BrowserWindow({
        width: 800,
        height: 600,
        webPreferences

[2021-05-14 04:16] SSYEIP commented on #30
This was the answer I needed. Thank you!

[2021-07-03 17:26] Vasanthvivi commented on #63
Looks lika a bug , when i import anything from electron in TypeScript, tells NodeJS has no exported member Require,,,,plzz fix that...

[2021-07-21 13:21] venomoustoad commented on #32
So I have tried this with electron v12 - I need to do 3 things:
`nodeIntegration: true, enableRemoteModule: true, contextIsolation: false`
As a consequence I am able to access electronService.remote.fs etc etc.
however, when i set contextIsolations as false, it breaks my giving other errors in the angular code:
`ReferenceError: $ is not defined`
My jquery etc, which was normally preloaded earlier

[2021-07-21 13:22] venomoustoad commented on #52
So I have tried this with electron v12 - I need to do 3 things:
`nodeIntegration: true, enableRemoteModule: true, contextIsolation: false`
As a consequence I am able to access electronService.remote.fs etc etc.
however, when i set contextIsolations as false, it breaks my giving other errors in the angular code:
`ReferenceError: $ is not defined`
My jquery etc, which was normally preloaded earlier

[2021-08-10 18:33] farhadpti commented on #30
the only correct answer for latest versions of electron and angular.

if somone need "electronService.remote" not to be null, also add "enableRemoteModule: true" to "webPreferences"

[2021-09-01 04:46] luisalejandrofigueredo commented on #52
With this package.json run find but if try update electron to latest version and not  compile.
may be the package is too old.

{
  "name": "generator",
  "productName": "Nestjs Generator",
  "version": "0.0.28",
  "author": "Luis Alejandro Figueredo Casadei",
  "description": "Generator for Nestjs",
  "main": "main.js",
  "icon": "dist/generador/assets/icons/win/icon.ico",
  "build": {
    "appId"

[2021-09-01 05:07] luisalejandrofigueredo commented on #63
the only way is not update electron to the last version con this configuration de electron and ngx electron work find is problem the package is may idea.
{
  "name": "generator",
  "productName": "Nestjs Generator",
  "version": "0.0.28",
  "author": "Luis Alejandro Figueredo Casadei",
  "description": "Generator for Nestjs",
  "main": "main.js",
  "icon": "dist/generador/assets/icons/win/icon.ico

[2021-09-02 20:44] luisalejandrofigueredo commented on #56
I try update to the latest version of electron and have error is posible continue with the project

Error: node_modules/ngx-electron/lib/electron.service.d.ts:17:31 - error TS2694: Namespace 'Electron' has no exported member 'Remote'.

17     readonly remote: Electron.Remote;

[2021-09-07 15:11] CMiksche opened #70 "Support @electron/remote instead of the old require('electron').remote"
The current implementation works only with old versions of Electron because `require('electron').remote` is now outdated and we have an `@electron/remote` Package instead of it.

So to support the new implementation, the dependencies would need to be updated, @electron/remote added and the whole Code would need a refactoring because many things are now outdated....

- [x]  Update dependencies
- [x

[2021-09-10 17:17] danielehrhardt commented on #70
Same Problem here.

[2021-09-10 17:32] danielwarke commented on #32
@venomoustoad I am running into a similar issue with electron v12. The reason is that turning on `nodeIntegration` causes an issue when running jQuery or angularJS: https://www.electronjs.org/docs/faq#i-can-not-use-jqueryrequirejsmeteorangularjs-in-electron
Using the delete window properties solution that is shown in the electron FAQ is not solving the issue with the icpRenderer. You basically hav

[2021-09-10 17:50] danielwarke commented on #32
Actually I just solved my issue! By using a conditional to check what page the preload script is running on, I was able to delete the node window properties but only on the child window. Keeping these properties on the parent window is required for icpRenderer to work in that context, but I do not need icpRenderer in the child window. Hope this helps!

[2021-09-19 08:12] kzimny commented on #70
The same issue in my project. After update to Electron 14.0.1 the following error occurs:
`Error: node_modules/ngx-electron/lib/electron.service.d.ts:17:31 - error TS2694: Namespace 'Electron' has no exported member 'Remote'.` Please make a new release asasp.

[2021-09-20 16:48] jmorrisIII commented on #70
@CMiksche What version(s) does it work on?

[2021-09-20 16:52] kzimny commented on #70
In my project it is electron version 13.1.6

[2021-09-20 17:13] CMiksche commented on #70
I have a old project with `"electron": "^6.0.10",`

[2021-09-24 09:18] IgorGeorgioski commented on #70
Hello, can someone please check this?

[2021-09-24 09:45] kzimny commented on #70
This project has not been updated for two years. Maybe the package owner is not interested in further development?

[2021-09-24 10:32] IgorGeorgioski commented on #70
Anyone has any alternative libraries? Or any way to use the IPC with angular, since I want to update electron to the latest version.

[2021-09-24 10:49] kzimny commented on #70
I'm in the same situation. @CMiksche do you see any chance to prepare a PR in the next few days/weeks? I looked at the scource code. This is a small project with a one class and one service class, seems to not be a big challenge. Hopefully the @ThorstenHans would agree to prepare a new release.

[2021-09-24 13:16] CMiksche commented on #70
Not really. We ditched this package and found another solution for our use case - so from my part it's not necessary anymore.

[2021-09-24 13:26] IgorGeorgioski commented on #70
Can you please provide me with the solution how can we use electron in our Angular app? I have tried examples from the internet but non of them seems to be working.

[2021-09-24 17:17] kzimny commented on #70
@ThorstenHans do you intend to fix the issue and maintain your package in the future or is this project dead?

[2021-09-24 17:19] ThorstenHans commented on #70
Actually not working in the scope of electron / angular. Will look into all open issues next week

https://thorsten-hans.com
________________________________
From: Krzysztof Zimny ***@***.***>
Sent: Friday, September 24, 2021 7:17:24 PM
To: ThorstenHans/ngx-electron ***@***.***>
Cc: Thorsten Hans ***@***.***>; Mention ***@***.***>
Subject: Re: [ThorstenHans/ngx-electron] Support @electron/remote i

[2021-09-24 17:20] kzimny commented on #70
Great, many thanks!

[2021-10-01 14:18] kzimny commented on #70
@ThorstenHans do you have any news? I'm not alone awaiting the update.

[2021-10-02 12:47] kzimny commented on #70
Instead of using `ngx-electron` package use your own ElectronService. An example can be found [here](https://github.com/maximegris/angular-electron/blob/master/src/app/core/services/electron/electron.service.ts).

[2021-10-02 16:55] Ch3shireDev opened #71 "Namespace 'Electron.CrossProcessExports' has no exported member 'Remote'."
(found on Windows).

How to reproduce:

[code]

After that I change `src/app/app.module.ts` from:

[code]
to
[code]

Then I spawn `ionic build` and I get the following error:

[code]

My `package.json` file:

[code]

[2021-10-11 02:57] thenem commented on #71
I also am seeing this same issue. Curious if anyone has a workaround?

[2021-10-19 23:24] TheColorRed commented on #52
Remote has been deprecated `v12` and removed in `v14`: https://www.electronjs.org/docs/latest/breaking-changes#removed-remote-module

[2021-10-24 08:30] argaman123 commented on #71
Same here, even with a basic new Angular project (without IONIC) that has both Electron and ngx-electron installed

[2021-10-26 02:09] kyawswarthwin commented on #71
same issue here

[2021-10-30 15:25] andelz commented on #71
Looks like the remote module has been deprecated in Electron 12 and been removed in Electron 14 (https://www.electronjs.org/blog/electron-14-0#removed-remote-module). They moved the remote stuff into its own package (https://github.com/electron/remote/blob/main/README.md). So as a quick fix I would assume that downgrading to version 13 should do the trick. But of cource I would love to see this ch

[2021-11-02 19:06] kbuffington commented on #70
This is a much simpler solution than waiting on `ngx-electron` updates. Was essentially just a find and replace or where I was importing the old ElectronService.

Only "gotcha" is that in your main.js you need to add this line:
[code]

Otherwise attempting to use `.remote` will fail with a cryptic `WebContents #1 called ipcRenderer.sendSync() with 'REMOTE_BROWSER_REQUIRE' channel without listeners

[2021-11-04 14:24] sean-oneill commented on #56
@luisalejandrofigueredo it looks like remote module was deprecated and replaced with @electron/remote in electron 12.0.0. https://www.electronjs.org/releases/stable?page=12

Downgrading to electron 11.5.0 should get around that issue until this project is updated to account for the remote module being removed.

[2021-12-29 10:51] steven-fernandez commented on #71
Has this project been abandoned or is remote going to be updated?

[2022-01-05 22:35] WhiteLord commented on #71
It's been three months no and there is no movement in the issue. I'd call this abandonware...

[2022-02-26 16:59] jamiegrain commented on #71
Had the same issue. Let's hope someone fixes this...

[2022-03-05 16:59] FreedomRings commented on #71
I went into  ./node_modules/ngx-electron/lib/electron.service.d.ts and  comment out this line:

`// readonly remote: Electron.Remote;`

It compiled fine, and using axious for http, rest, google access and authentication all my remote issues were handled.

Note that if you update the module you will have to reload it, or do a branch of this and use that instead.

[2022-03-28 15:27] pedrohsouza20 commented on #71
I went into ./node_modules/ngx-electron/lib/electron.service.d.ts and changed the type:
readonly remote: any;

I guess that's not a good practice, but solved my problem.

[2022-03-28 16:05] FreedomRings commented on #71
Yup - that works too - but as you say neither of our solutions is best practice.  Since this appears to not be maintained, the best practice for either of our solutions would probably be to fork the project to make the change so that we do not have to keep making the change over and over.

[2022-03-28 17:33] pedrohsouza20 commented on #71
Great answer! You got the point!

[2022-03-30 18:22] HiveTechDev commented on #71
Note: I ran into this as well. looks like still not fixed with npx-electron.

one addition to helping others. when you make your local change, use the package: patch-package
https://www.npmjs.com/package/patch-package

You can make the edit, store the edit in your local repo, then tie it into post-install so it applies the edit again for future npm installations/other machines on your project. see

[2022-04-03 03:38] #63 closed, assigned to nobody

[2022-05-26 20:14] MurtathaLaith commented on #71
thank you <3 it worked for me

[2022-06-17 11:17] Arjun021 commented on #30
@lerchenreich I followed this solution but issue is not resolved in Angular version **13.3.3**, electron version **19.0.4**

I am trying to use desktopCaptures API in app.component.ts

`    if (this.electronService.isElectronApp)
    {
      this.electronService.desktopCapturer.getSources({ types: ['window', 'screen'] }).then(async sources => {
       // Other logic
      });
    }`

The desktopCa

[2022-07-21 20:10] bampakoa commented on #70
Hello all 👋,

As a user of this library, I have just started a new initiative for going this amazing effort from @ThorstenHans further which is called [ngx-electronyzer](https://github.com/bampakoa/ngx-electronify/tree/master/packages/core/projects/electron).

This project is heavily inspired by the work that Thorsten has put into ngx-electron. The only difference is that it does not expose the re

[2022-08-19 10:25] pkcinna01 commented on #56
Electron 11.5.0 is very old and there have been no changes in this project for over 3 years so looks like the answer is the project is no longer supported.  Unfortunately, this is a growing pattern in the angular community.

[2022-10-05 02:55] stewones commented on #56
@pkcinna01  it has absolutely nothing to do with the angular community. this is called open source software, if something isn't working for you, just fork and contribute.